.App {

}

.landing-background {
    height: 750px;
    width:100%;
    position: absolute;
    z-index: 1;
    background-image: url("http://i64.tinypic.com/vgle1s.jpg");
}

#nav-bar {
position: absolute;
/* SoundFusion: */
font-family: AvenirNext-medium;
font-size: 36px;
color: rgba(255,255,255,0.87);
letter-spacing: 0.25px;
z-index: 2;
width: 100%;
}

.topleft {
/* SoundFusion: */
font-family: AvenirNext-bold;
font-size: 28px;
color: rgba(255,255,255,0.87);
letter-spacing: 0.25px;
width: 20%;
float: left;
text-align: center;
border: none;
text-decoration: none !important;
}

.topright {
/* Library: */
font-family: AvenirNext-medium;
font-size: 18px;
color: rgba(255,255,255,0.87);
letter-spacing: 0.25px;
position: relative;
width: 10%;
float: right;
text-align: center;
text-decoration: none !important;
}

.selling-points-container {
padding: 20px;
position: absolute;
}

.point1 {
 /* Mobile enabled Liste: */
font-family: AvenirNext-medium;
font-size: 18px;
color: #5E5E5E;
letter-spacing: 0.25px; 
width: 33%;
float: left;
text-align: center;
position: relative;
padding-top: 800px;
padding-bottom: 50px;
}

.point-title1 {
    font-family: AvenirNext-Bold;
    font-size: 20px;
}

.point2 {
 /* Unlimited, streaming: */
font-family: AvenirNext-medium;
font-size: 18px;
color: #5E5E5E;
letter-spacing: 0.25px;
width: 33%;
float: left;
text-align: center;
position: relative;
padding-top: 800px;
padding-bottom: 50px;
}

.point-title2 {
    font-family: AvenirNext-Bold;
    font-size: 20px;
}

.point3 {
  /* Choose your music Wh: */
font-family: AvenirNext-medium;
font-size: 18px;
color: #5E5E5E;
letter-spacing: 0.25px;
width: 33%;
float: left;
text-align: center;
position: relative;
padding-top: 800px;
padding-bottom: 50px;
}

.point-title3 {
    font-family: AvenirNext-Bold;
    font-size: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
