.App {

}

#Background {
    height: 800px;
    width:100%;
    position: absolute;
    z-index: 1;
}

.nav-bar {
position: absolute;
/* SoundFusion: */
font-family: AvenirNext-medium;
font-size: 36px;
color: rgba(255,255,255,0.87);
letter-spacing: 0.25px;
z-index: 2;
width: 100%;
}

.soundfusion {
/* SoundFusion: */
font-family: AvenirNext-bold;
font-size: 28px;
color: rgba(255,255,255,0.87);
letter-spacing: 0.25px;
width: 20%;
float: left;
text-align: center;
text-decoration: none !important;
}

.library {
/* Library: */
font-family: AvenirNext-medium;
font-size: 18px;
color: rgba(255,255,255,0.87);
letter-spacing: 0.25px;
position: relative;
width: 10%;
float: right;
text-align: center;
text-decoration: none !important;
}

.selling-points-container {
padding: 50px;
position: absolute;
    
}

.point1 {
 /* Mobile enabled Liste: */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #5E5E5E;
letter-spacing: 0.25px; 
width: 33%;
float: left;
text-align: center;
position: relative;
padding-top: 800px
}

.point2 {
 /* Unlimited, streaming: */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #5E5E5E;
letter-spacing: 0.25px;
width: 33%;
float: left;
text-align: center;
position: relative;
padding-top: 800px
}

.point3 {
  /* Choose your music Wh: */
font-family: AvenirNext-Bold;
font-size: 18px;
color: #5E5E5E;
letter-spacing: 0.25px;
width: 33%;
float: left;
text-align: center;
position: relative;
padding-top: 800px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
