div.wrapper {
    float: left;
    position: relative;
}
  

div.landing-tagline {
    position: absolute;
    bottom: 35%;
    left: 66%;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
}


.landing-tagline-text {
    display: block;
    flex-direction: column;
    top: 55%;
    right: 0px;
    left: 70%;
    margin: 0px;
    font-size: 36px;
    font-family: AvenirNext-bold;
    letter-spacing: .50px;
}


.landing-background {
    display: block;
    height: 750px;
    width: 100%;
    position: relative;
    z-index: 1;
    flex-direction: column;
}


#nav-bar {
    position: fixed;
    font-family: AvenirNext-medium;
    letter-spacing: 0.25px;
    z-index: 2;
    width: 99%;
}


.topleft {
/* SoundFusion: */
    font-family: AvenirNext-bold;
    font-size: 24px;
    width: 19%;
    float: left;
    text-align: center;
}


.topright {
/* Library: */
    font-family: AvenirNext-medium;
    font-size: 18px;
    position: fixed;
    width: 99%;
    float: right;
    text-align: right;
}


.point1, .point2, .point3 {
    letter-spacing: 0.25px; 
    width: 33%;
    float: left;
    text-align: center;
    position: relative;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 100%;
    max-width: 33%;
    padding-top: 10%;
    padding-bottom: 10%; 
}


.point-title1, .point-title2, .point-title3 {
    font-family: AvenirNext-Bold;
    font-size: 20px;
    color: #5E5E5E;
}


.point-description1, .point-description2, .point-description3 {
font-family: AvenirNext-Bold;
font-size: 18px;
color: #5E5E5E;
}


.library-details {
    color: rgba(142,141,142,0.87);
    letter-spacing: 0.25px;
    font-family: AvenirNext-medium;
    display: flex;
    flex-direction: row;
    flex: 100%;
    max-width: 33%;
}


.library-title {
/* ALBUMS Discover a ne: */
    font-size: 28px;
    display: flex;
    flex-direction: column;
    padding-top: 55%;
    padding-left: 1%;
    padding-right: 66%;
    position: fixed; 
}


.library-text {
/* ALBUMS Discover a ne: */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 60%;
    padding-left: 1%;
    padding-right: 66%;
    position: fixed;  
}


.library-list {
    display: flex;
    flex-direction: column;
    flex: 99%;
    max-width: 99%;
    justify-content: center;
    left: 40%;
    right: 60%;
    position: absolute;
    height: 850px;
    align-content: flex-start; 
}

.album-info {
   
}